[2018-06-23 14:46] MarionneLourdes opened #1 "PAGE COULD NOT BE FOUND - INSTRUCTOR TOOLS"
Log in as instructor

When I click on instructor tools (upper right) it says page could not be found.

![image](https://user-images.githubusercontent.com/40473732/41810831-3ade1b60-7737-11e8-9fb2-0d033110f45d.png)

[2018-06-23 14:48] MarionneLourdes opened #2 "PAYOUT Settings"
Log in as instructor

Go to profile

There are no options for payout settings.

![image](https://user-images.githubusercontent.com/40473732/41810840-732e2050-7737-11e8-90ec-cb85d3e7e115.png)

[2018-06-23 14:53] MarionneLourdes opened #3 "PAGE COULD NOT BE FOUND - I WANT TO LEARN"
Log in as instructor

When I click on my learning (upper right), then the I want to Learn button, it shows page could not be displayed

![image](https://user-images.githubusercontent.com/40473732/41810878-224989d0-7738-11e8-8f08-0105bbb742e2.png)

[2018-06-23 16:28] #3 closed

[2018-06-23 17:19] websquared commented on #1
fixed

[2018-06-23 17:19] #1 closed

[2018-06-23 21:38] #2 closed

[2018-06-24 15:28] websquared commented on #2
Removed this page for now

[2018-06-27 16:18] MarionneLourdes opened #4 "SUGGESTION - next button"
When creating a course,

![image](https://user-images.githubusercontent.com/40473732/41986457-c4ef0218-7a68-11e8-99d7-b953dda86e37.png)

And you are done with a tab, let's say "landing page", it would be better if there is a next button or it will proceed to the next tab right away, which is "content". Because what happens is that after saving it will remain on the page and you have to manually cl

[2018-06-28 19:35] MarionneLourdes opened #5 "EDIT COURSE - LANDING PAGE"
![image](https://user-images.githubusercontent.com/40473732/42056524-0dfb4d74-7b4d-11e8-81f6-38712b26d07d.png)

ADDING A COURSE: After filling up "landing page" section and clicking on submit, it shows "Sorry, the page you are looking for could not be found."

[2018-06-30 17:08] Alinlish opened #6 "Homepage is very long"
On homepage, the page is very long. I would say it's better to remove some of data not important [Link](https://www.screencast.com/t/JAqrIn9ooR)

[2018-06-30 17:17] Alinlish opened #7 "Remove the bottom menu"
The menu from bottom is not useful for a normal user, it should be removed at least for prod version of website [Link](https://www.screencast.com/t/GPrP3Bh4b5UD)

[2018-06-30 17:39] Alinlish opened #8 "Connection not secure"
After creating one Instructor Account [Link](https://www.screencast.com/t/ROO8hfmcLqwI), the page with message "Connection is not secure" is displayed [Link](https://www.screencast.com/t/xTet0MwO)

[2018-06-30 17:42] Alinlish opened #9 "Error on missing course image"
When adding a new course, and there is not image, if clicking on button "Save image", and error is displayed [Link](https://www.screencast.com/t/STDkvoRCJX)

[2018-06-30 17:52] Alinlish opened #10 "Add filters for uploading images"
When adding a new cours, in situation when a new photo should be uploaded, add a filter to select only image types [Link](https://www.screencast.com/t/4Wb4MT2VXZhd). Because when selecting another type, the file is not uploaded and no image is displayed.

[2018-06-30 18:12] Alinlish opened #11 "Uploading video in long time"
It's taking a long time to upload a small mp4 video. Uploading any video is always loading [Link](https://www.screencast.com/t/fxOh279Juefg)

[2018-06-30 18:26] Alinlish opened #12 "Error after adding one text content"
For one cours, if a text content was added, an error page was displayed, and the account on website was not accesible anymore. The account is jeleu1-testing1.learnformula.space [Link](https://www.screencast.com/t/1t8akyIeIL)

[2018-06-30 18:34] Alinlish opened #13 "Rename "Instructor tools""
The name "instructor tools" is not very clear. I propose to rename it to "Create a course" or something similar [Link](https://www.screencast.com/t/cNYE6rk3lb)

[2018-06-30 18:41] Alinlish opened #14 "Back after adding content"
After adding content for a course (example text or quiz), it would be good to go back on the Content page (or when clicking on Save, or add a new button called Back). [Link](https://www.screencast.com/t/L1eIbTa3u2hZ)

[2018-06-30 18:53] Alinlish opened #15 "Add date fields for dates"
When there are dates on application (example Webinar date), it's good to have date fields (where the user can select days, months and years) [Link](https://www.screencast.com/t/BG4pdznS)

[2018-06-30 18:57] Alinlish opened #16 "Date and time"
On date fields, remove time when it is not needed. And when it is needed, it's good to have another fields called time or something similar [Link](https://www.screencast.com/t/Y4qxynlA6fM)

[2018-06-30 19:03] Alinlish opened #17 "Landing page not completed"
After completing all details on landing page and clicking on Submit, the tab is not ticked as completed [Link](https://www.screencast.com/t/bt8PHn6wuM3i)

[2018-06-30 19:09] Alinlish opened #18 "Submit or Save"
When adding a course, on two tabs the button is Save and on two tabs, the button is Submit. I propose to have the same name on all tabs [Link](https://www.screencast.com/t/lDRbl7qes)

[2018-06-30 19:15] Alinlish opened #19 "Workflow for course adding"
When adding a new course, I propose to create a workflow for tabs, in the following way: on tab Settings, when clicking on Save, the tab Landing page is opened, and after clicking Save on Landing page, the next tab is opened, and so on. Or this workflow can be implemented by changing the buttons Save to Next, which include also the saving of data on tabs [Link](https://www.screencast.com/t/lDRbl7q

[2018-06-30 19:18] Alinlish opened #20 "Clicking on Report abuse"
Nothing happens when clicking on Report abuse [Link](https://www.screencast.com/t/6e5khv4r)

[2018-06-30 19:28] Alinlish opened #21 "The same course recommended"
When one course is opened, under the sections called "Students Also Bought These Courses", the same course is displayed. In a normal way, other similar courses should be recommended, not the same course [Link](https://www.screencast.com/t/pZq7aYBy)

[2018-06-30 19:35] Alinlish opened #22 "Trainer is added by default"
When a new course is created, the sentence "Presented by Dr. Ardella Kirlin Sr. " is added. It's not clear from where this trainer is added, but it would be good to be selected when creating the course [Link](https://www.screencast.com/t/eboxbH0i)

[2018-06-30 19:59] Alinlish opened #23 "Add all options together"
All the options related to filter together, options: Rating, Price, search and sort should be placed together. In this moment, after a search is performed, it can be removed with "Remove all filters" [Link](https://www.screencast.com/t/7LFiaiZXHT)

[2018-06-30 20:04] Alinlish opened #24 "No option to unselect a category"
If a category is selected, for example Finance, there is no option to unselect it [Link](https://www.screencast.com/t/4oX85JAbI)

[2018-06-30 20:08] Alinlish commented on #14
I just noticed there is a button "Return to course", but it's not very obvious. It hink it's better to place it next to Save.

[2018-06-30 20:17] Alinlish opened #25 "Preview course - accessing meeting"
On preview course, when accessing a meeting, an error page is displayed [Link](https://www.screencast.com/t/dbmkbb2UHa9)

[2018-06-30 20:21] Alinlish opened #26 "Preview course - select an answer"
On preview a course, when selecting any answer for a quiz, the error message "Please select at least one answer you think is correct" is always displayed. The answer is not taken into consideration, like nothing is selected [Link](https://www.screencast.com/t/iNCIuYI4L8Af)

[2018-06-30 20:23] Alinlish opened #27 "Preview course - overview"
On preview course, the tab overview is not accessible. When selecting it, nothing happens [Link](https://www.screencast.com/t/4wkrupHeDzbJ)

[2018-07-01 08:45] Alinlish opened #28 "No email for registration"
After registration, it would be good to send an email at the complete email address, at least for information, not necessary to confirm the registration.

[2018-07-01 08:51] Alinlish opened #29 "Error page for Certificate"
After buying a course (in this case User-centric tertiary productivity) and clicking on Certificate [Link](https://www.screencast.com/t/rBqqSIFZF5W9), an error page is displayed [Link](https://www.screencast.com/t/Au38KVe6)

[2018-07-01 08:58] Alinlish opened #30 "Clear limit between instructor and student"
I propose to make a clear limit beween instructor and student. For example, after one account can be set only as instructor or only as student. This can be changed on profile page. For one of my accounts, I selected that I want to learn, but I am also able to add an instructor account. The limit should be clear, and I should only learn or only train/add courses [Link](https://www.screencast.com/t/

[2018-07-01 09:09] Alinlish opened #31 "Error at Contact us"
When seding one message at Contact us [Link](https://www.screencast.com/t/SNsrj9ru), an error page is displayed [Link](https://www.screencast.com/t/iBwAH9GJ0J4T)

[2018-07-01 09:18] Alinlish opened #32 "List of courses not available anymore"
After clicking on Start Free from main page, and selecting "I want to learn", [Link](https://www.screencast.com/t/009mZpYuP), a list of courses is displayed [Link](https://www.screencast.com/t/7HtSayZzR713). After buying one course (on Subscribe), the list of courses is not accessbile anymore, to buy other courses [Link](https://www.screencast.com/t/QzK8uAbS)

[2018-07-01 09:28] Alinlish opened #33 "My Schedule is not accesible"
On My Schedule, there is no button or option how to configure it. Normally, this page should be linked to courses (when adding them or when buying them). [Link](https://www.screencast.com/t/mG4pLHHM2No)

[2018-07-01 09:42] Alinlish opened #34 "Forgot your password page not found"
On Log in page, when clicking on Forgot your Password? [Link](https://www.screencast.com/t/p1sMbjVMA2), the page is not found [Link](https://www.screencast.com/t/JtBniZp2tthO)

[2018-07-01 10:03] Alinlish opened #35 "Error when subscribing a course"
When trying to subscribe one created course, an error is displayed [Link](https://www.screencast.com/t/cWgXP9tzB)

[2018-07-01 10:19] Alinlish opened #36 "Contact Us not found on subdomain"
When trying to access Contact Us page on a subdomain (example test4), the page is not found [Link](https://www.screencast.com/t/XObrcsXcLLC)

[2018-07-01 10:21] Alinlish opened #37 "Terms of Use not found on subdomain"
When trying to access Terms of Use page on a subdomain (example test4), the page is not found [Link](https://www.screencast.com/t/I9e0OVGvnUz)

[2018-07-01 11:05] Alinlish opened #39 "Filters removed when search"
On the courses page, if filters are set (Rating, Price, Sort) [Link](https://www.screencast.com/t/29NPJQmA), when performing a search, the filters are removed [Link](https://www.screencast.com/t/5vNrlPF0XZ)

[2018-07-02 12:35] MarionneLourdes opened #40 "CREDIT CARD PAYMENT - DECLINED"
![image](https://user-images.githubusercontent.com/40473732/42164007-33da7f14-7e37-11e8-821b-292c2e1e9773.png)

When test card was used, payment will not push through.

[2018-07-02 18:15] websquared commented on #6
We did this on purpose for marketing. Will see how it works after launch and adjust as needed. We might create another short version in future with explaining video instead.
Thanks.

[2018-07-02 18:15] #6 closed

[2018-07-02 18:15] websquared commented on #7
You right - this is showing only for dev site. It won't be visible on production.

[2018-07-02 18:15] #7 closed

[2018-07-02 18:17] websquared commented on #8
Yes, please ignore this message on dev site and allow insecure connection - this won't be a problem on production

[2018-07-02 18:17] #8 closed

[2018-07-02 18:22] websquared commented on #11
I think video is actually uploaded but not showing in preview section and not changing status
@kurumbus please check

[2018-07-02 18:25] websquared commented on #12
@Alinlish Strange - I don't see this account "jeleu1-testing1" in our database at all. Could you provide steps to reproduce this issue?

[2018-07-02 18:39] websquared commented on #13
Will discuss this with others to define a better name - it's really a link to create just course but to instructor section. Will leave this as is for now.

[2018-07-02 18:39] #13 closed

[2018-07-02 18:41] websquared commented on #14
@kurumbus For all the activities except those required to enter addition information after creation (quiz and meeting), let's redirect back to course.

[2018-07-02 18:43] websquared commented on #15
@Alinlish It already should be this way - if you click on that field it should display a celndar to select date and time. Let me know if it doesn't work for you.

[2018-07-02 18:48] websquared commented on #16
@kurumbus Let's keep date and time in one field but display default/entered date in this format: "Sep 4, 1986 8:30 PM" ("lll" if you use momentjs https://momentjs.com/docs/#/displaying/)

[2018-07-02 18:53] websquared commented on #17
@Alinlish Condition for completing this tab is to have Subtitle, Description and either image or preview video uploaded. Looks like you did not upload image in this case.

[2018-07-02 18:53] #17 closed

[2018-07-02 19:22] websquared commented on #19
@Alinlish Please test it again

[2018-07-02 19:26] websquared commented on #20
@kurumbus Let's create a page similar to this one with Type and Message fields:
![2018-07-02_15-24-20](https://user-images.githubusercontent.com/1173105/42182389-0e65118e-7e0c-11e8-93ec-dc04547e43d6.png)

You can use the same template/functionality as "Contact Us" page (currently hidden): Route::get('contact-us', 'PageController@contactUs');

[2018-07-02 19:30] websquared commented on #21
@kurumbus right now we just display "most popular courses" there. We need to generate another list instead that actually means "Students Also Bought These Courses". We might need a new DB table for this and new cron. Let me know your thoughts on how to do that.

[2018-07-02 19:36] websquared commented on #22
@kurumbus Looks like it's adding another instructor when creating a course
We need to fix that and also let's create a new tab "Instructors" on course editing navigation:
![2018-07-02_15-34-00](https://user-images.githubusercontent.com/1173105/42182773-60a66d66-7e0d-11e8-9328-9d63f3c10cc9.png)

On that page course creator (main instructor) can add additional instructors to course (they need to be

[2018-07-02 19:37] websquared commented on #23
This was intentional by design - we'll leave this for now as is but might change in future based on user feedback

[2018-07-02 19:37] #23 closed

[2018-07-02 20:02] Alinlish commented on #12
Steps to reproduce the issue:
1. Open website
2. Register as teacher
3. Create a sub-domain and log in
4. Create a new course
5. Go to Content and add new text

I just tested and it's not reproducing anymore. I will check also when making other tests.

[2018-07-02 20:08] Alinlish commented on #19
When clicking Save on Settings tab, the second tab is not selected. It's the same like before

[2018-07-02 20:11] Alinlish commented on #15
@websquared Nothing happens when I click on field, not calendar is displayed.

[2018-07-02 20:15] Alinlish commented on #12
@websquared I don't have enough rights to change labels on issues, I can only see them.

[2018-07-02 20:22] websquared commented on #27
Fixed - please retest and close if done, or assign to me back with comments if more work needed

[2018-07-02 20:29] websquared commented on #28
Good idea. Will add it to future TODO list

[2018-07-02 20:31] websquared commented on #29
@kurumbus Can we use default Laravel storage directory for mpdf library to fix that?

[2018-07-02 20:34] websquared commented on #30
This was made intentional - because even instructors might take other courses. In future we will add default courses for instructors to take, like "How to create a course"

[2018-07-02 20:34] #30 closed

[2018-07-02 20:35] websquared commented on #31
@Alinlish We actually need to hide this page completely. Where did you see a link to this page?

[2018-07-02 21:44] websquared commented on #36
Please retest and close if fixed

[2018-07-02 21:46] websquared commented on #37
Fixed

[2018-07-02 21:49] websquared commented on #40
This test card can be used only on dev site learnformula.space, it won't work on learnformula.com - only actual valid CC will work there

[2018-07-02 21:49] #40 closed

[2018-07-02 21:54] websquared commented on #39
Will leave this as is for now to get user feedback

[2018-07-02 21:54] #39 closed

[2018-07-02 21:56] websquared commented on #15
Should be fixed now

[2018-07-02 21:57] websquared commented on #12
OK, feel free to close this issue if it works now

[2018-07-02 22:02] websquared commented on #19
@Alinlish It will only work if current tab was not marked as completed before saving but became completed after. I other words only if you creating new course, not when you editing it.
You also need to make sure that you actually completed current tab to be redirected to the next one.

[2018-07-03 16:02] Alinlish commented on #37
Solved.

[2018-07-03 16:05] Alinlish commented on #36
Solved.

[2018-07-03 16:15] Alinlish commented on #31
@websquared I accessed this page by clicking on "Contact Us" link from footer. But in this moment, the issue described on this ticket is not reproduced anymore.

[2018-07-03 16:29] Alinlish commented on #27
Overview is accessible now.

[2018-07-03 19:43] websquared opened #41 "Reload preview screen after video upload"
_From @websquared on June 30, 2018 15:58_

Right now it's just grey screen after upload - can we reload this screen with Vue after upload?

![2018-06-30_11-54-26](https://user-images.githubusercontent.com/1173105/42126863-796b8a96-7c5c-11e8-8c43-185e27b012c9.png)

_Copied from original issue: websquared/learnformula-cloud#246_

[2018-07-03 19:44] websquared opened #42 "Remove Name field from video upload page"
_From @websquared on June 29, 2018 13:36_

- Let's remove this field from video creation page - instead let's detect name from file (convert _ and - to spaces)
- But let's show name field on video editing page - to adjust name if needed

_Copied from original issue: websquared/learnformula-cloud#242_

[2018-07-03 19:44] websquared opened #43 "Polling v2"
_From @kurumbus on June 25, 2018 12:5_

Important:

- [x] Use pusher or echo or something to live-monitor polling and resources instead of calling api every now and then.

Less important:

- [x] It's kind of one poll per webinar at the moment. Well, an instructor can refresh the page and create a second one but the first one will be unavailable then to students. (it's more of the coding issue than

[2018-07-03 19:44] websquared commented on #43
I've set some priorities for these tasks. Please see issue description.

[2018-07-03 19:44] websquared commented on #43
_From @kurumbus on June 27, 2018 9:2_

@websquared understood

[2018-07-03 19:44] websquared opened #44 "Proposal: resources catalog"
_From @kurumbus on June 24, 2018 18:45_

We are kind of already storing all our resources in one table, so it should be rather easy to
1. Create a page with a list of resources (perhaps some filtering, but not necessarily)
2. When instructor or manager is attaching resources - to let him choose from existing ones

![online courses acme inc 1](https://user-images.githubusercontent.com/13556916/4182

[2018-07-03 19:45] websquared opened #45 "Create payout system for instructors"
_From @websquared on June 23, 2018 21:55_

- Account managers should be able to enable "External instructor" checkbox on course settings

In this case:
- Pricing settings page should display additional "Instructor cost" field
- Instructors should not be able to access pricing settings page at all
- Instructors should be able to access "Payout settings" page instead - where they can connect Stripe

[2018-07-03 19:45] websquared opened #46 "Remvoe unused vue components"
_From @kurumbus on June 22, 2018 10:1_

I think there are quite a couple of unused components.

But to be on the safe side, I'd like to remove them in a separate branch in a separate issue.

_Copied from original issue: websquared/learnformula-cloud#219_

[2018-07-03 19:45] websquared opened #47 "Reschedule notifications if date changes"
_From @kurumbus on June 20, 2018 8:9_

If webinar changes date:

- [x] delete old scheduled notifications

- [x] dchedule new ones

If a new webinar is added

- [x] schedule notifications for active course users

If meeting is recheduled

- [x] See that notifications are updated accordingly

_Copied from original issue: websquared/learnformula-cloud#215_

[2018-07-03 19:45] websquared opened #48 "Dusk Tests"
_From @kurumbus on June 13, 2018 19:47_

When I was changing routes, I realized how painful it is to change such sensitive stuff without tests.
So we should have some minimum of them.

- [ ] Main user scenario - student (user enters subdomain, registers, selects course, pays, completes a couple od activities

- [ ] Main user scenario - instructor (user registers an account, creates a course. Not s

[2018-07-03 19:45] websquared opened #49 "add price expiration"
_From @kurumbus on June 12, 2018 10:58_

![41234900-788115fc-6d5b-11e8-9522-a1ba0c1e10b7](https://user-images.githubusercontent.com/13556916/41286490-5adb2270-6e48-11e8-8e85-f8c1fa356eda.png)

We don't have functionality to expire discounted price now, but should.

it's actually not very hard: we just need a simple queue-istener running. (like here https://laravel.com/docs/5.1/queues#daemon-queue-

[2018-07-03 19:45] websquared opened #50 "Add sendgrid to marketing automation"
_From @kurumbus on June 10, 2018 13:11_

Reference: https://sendgrid.com/docs/API_Reference/index.html

_Copied from original issue: websquared/learnformula-cloud#179_

[2018-07-03 19:45] websquared opened #51 "Separate js to 2 files"
_From @kurumbus on June 10, 2018 6:34_

Our app.js now is 2.36 MB in production. But it is mostly components needed only for instructor.

In production when optimization will be an issue, we should do something like this:
https://github.com/omnichronous/multimix
So that students will load only their part of the app and it should be really small.

_Copied from original issue: websquared/learnformul

[2018-07-03 19:45] websquared opened #52 "Better LandingPage"
_From @kurumbus on June 7, 2018 21:57_

- [x] Cool html5 screenshots to display in landing page list
- [ ] Add editing of images
- [ ] Show and Hide blocks of text or separate ids
- [ ] Add all 14 templates
- [ ] (?) Make homepage editable as well

_Copied from original issue: websquared/learnformula-cloud#173_

[2018-07-03 19:46] websquared opened #53 "Create multiple templates for landing pages"
_From @websquared on May 29, 2018 12:57_

We need to create multiple templates for account manager to choose and create their own landing page - for leads generation or different call-to-actions.

The idea is that a Manager can select one of our templates to create a page and then modify texts and images using JS - by clicking on different page sections.

@kurumbus @polis89 Let's have a Skype call

[2018-07-03 19:46] websquared commented on #53
@kurumbus
Please fee free to start working on this task - we have a few templates created by @polis89:
/resources/views/accounts/leads/templates/

[2018-07-03 19:46] websquared commented on #53
@kurumbus Could you please explain to me how it works?
Maybe record a short screen-cast video for any new feature?

[2018-07-03 19:46] websquared commented on #53
_From @kurumbus on June 8, 2018 17:22_

Ok, will do

[2018-07-03 19:46] websquared commented on #53
_From @polis89 on June 9, 2018 11:56_

@kurumbus After last merge i cannot open templates on links like this: 'http://acme.learnformula.test/accounts/leads/templates/carelife', im logged in. How can i watch it?

[2018-07-03 19:52] websquared commented on #4
done

[2018-07-03 19:52] #4 closed

[2018-07-03 20:35] Alinlish commented on #19
The behavior is like before: I created a new course, on landing page I complete all field, and when I clicked on Submit, the previos tab (Settings) was displayed, not the next tab.

[2018-07-03 20:40] Alinlish commented on #15
It's fixed for courses that have type "Webinar", not for "Live event" courses [Link](https://www.screencast.com/t/45hV0e9lW)

[2018-07-03 20:44] Alinlish commented on #12
It's not reproducing anymore.

[2018-07-03 20:44] #12 closed

[2018-07-03 22:45] kurumbus commented on #53
@websquared @polis89

Let me check

[2018-07-03 22:48] kurumbus commented on #22
@websquared there was actually a bug in eloquent relations.

Anyway, fixed and created a tab, please take a look https://drive.google.com/file/d/1QrQ7uRyPcbL8_1i-XUGhNnzvdg7BkNdL/view

[2018-07-03 22:48] #22 closed

[2018-07-03 22:53] kurumbus commented on #53
@websquared Well, this route is for managers only, I guess it's a feature, not a bug, right?

Although that particular template doesn't have defaults (I didn't yet get to it, we have only two templates ready), so it can be previewed like this:
http://acme.learnformula.test/tmp/carelife

I should say it was like this all the way, I think

[2018-07-03 23:10] kurumbus commented on #29
@websquared since this is a critical one, I've pushed a quickfix

but won't close, since I think I need to add following:

- [ ] Now file is generated every time route is visited, need to add check

- [ ] Files are quite large, I guess we should schedul their deleting

[2018-07-04 18:04] Alinlish opened #54 "Add users on meeting"
When creating a meeting, it's not clear how to add users on meetings invitations [Link](https://www.screencast.com/t/CtksP78lwhjy)

[2018-07-04 18:21] Alinlish opened #55 "Options for meeting"
For one meeting, the options from bottom (Guest, Date, Status, Add to calendar) are not accessible, it's not clear how to use them for a normal user [Link](https://www.screencast.com/t/2Pc734TqYvN)

[2018-07-04 18:29] Alinlish opened #56 "Back from preview"
When adding one new course, and trying to preview any content [Link](https://www.screencast.com/t/JX6nW9FN16), after clicking on Return to course [Link](https://www.screencast.com/t/WTaHm3jQRyO), the course is opened in read move, not in editing mode [Link](https://www.screencast.com/t/6AAtK5tYzmWK)

[2018-07-04 18:32] Alinlish opened #57 "Preview one video from editing"
When previewing on video from edit mode of a course [Link](https://www.screencast.com/t/xgDLnhKy), the video cannot be previewed and one error page is displayed [Link](https://www.screencast.com/t/HVCBwhec3S)

[2018-07-04 18:37] Alinlish opened #58 "Video added twice"
When adding a video content on a course, first selecting the video, then clicking on Upload Video [Link](https://www.screencast.com/t/VzIAse4md), and after that clicking on Save [Link](https://www.screencast.com/t/BEUJZpyaG), the video is added twice [Link](https://www.screencast.com/t/b7pWimjIn). The button Save is not needed in this case.

[2018-07-04 18:40] Alinlish opened #59 "Error for deleting single video"
When there are two video added (by uploading and saving), first one is deleting successfully. But when deleting the second video left, an error message is displayed [Link](https://www.screencast.com/t/EtrKlZUDyb)

[2018-07-04 18:42] kurumbus commented on #18
@websquared so it's better to use submit on such pages from now on, right?

[2018-07-04 18:59] Alinlish opened #60 "Empty message for editing video"
When changing the name of video in a course, an empty message box is displayed [Link](https://www.screencast.com/t/MqPqhhyUq)

[2018-07-04 19:03] Alinlish opened #61 "Video name not updated"
When trying to update the video name inside a course [Link](https://www.screencast.com/t/F16Nsb2xhfC), the video name is not updated [Link](https://www.screencast.com/t/uduRGU6wnK34)

[2018-07-04 19:14] Alinlish opened #62 "Missing status when completing webinar"
After completing a webinar, and clicking on Complete, the message "Missing status" is displayed [Link](https://www.screencast.com/t/9g7XN4bxE2)

[2018-07-04 19:24] Alinlish opened #63 "Messages for empty title and content"
When adding a new text field on course and leaving the fields inside it empty, on the error message name is requested instead of title and description is requested instead of content [Link](https://www.screencast.com/t/fRnlR0OnZP)

[2018-07-04 19:36] Alinlish opened #64 "Smaller price without discount"
For a course, on Price tab, the field Price without discount can be saved sa smaller than current price, which is not logic [Link](https://www.screencast.com/t/9ZGZeOHV7)

[2018-07-04 19:44] Alinlish opened #65 "No finish button on course"
When previewing or opening one course, and going on pages with Next and Previous buttons, at the end it would be good to have a Finish button, to close the course [Link](https://www.screencast.com/t/O7L5xZfhLnlH)

[2018-07-04 19:58] Alinlish opened #66 "Add all categories for courses"
Proposal: for the categories option related to courses, add the option to view all courses [Link](https://www.screencast.com/t/8x1VI1W9gdW)

[2018-07-04 20:00] kurumbus commented on #9
will be in quickfix branch

[2018-07-04 20:00] #9 closed

[2018-07-04 20:02] Alinlish opened #67 "Open meeting as student"
When opening a meeting as a student [Link](https://www.screencast.com/t/Ie3Ha6ay), an error page is displayed [Link](https://www.screencast.com/t/etBF6tCd56)

[2018-07-04 20:13] kurumbus commented on #67
Will work in a new pull-request

[2018-07-04 20:13] #67 closed

[2018-07-04 20:14] kurumbus commented on #16
date display should change in quickfix branch

[2018-07-04 20:14] #16 closed

[2018-07-04 20:16] Alinlish opened #68 "Error when buying one course"
When trying to buy one course as instructor, one error is displayed [Link](https://www.screencast.com/t/6DdqwH0g9Wnm)

[2018-07-04 20:18] kurumbus commented on #10
fixed in quickfix

[2018-07-04 20:18] #10 closed

[2018-07-04 20:35] Alinlish opened #69 "Default image for courses"
For courses that don't have a course uploaded, I propose to add a default image to be displayed, because in this moment, the courses have a picture that looks like a broken image [Link](https://www.screencast.com/t/DNp3RaGXBTAf)

[2018-07-04 21:22] kurumbus commented on #26
@Alinlish I'm sorry, I couldn't reproduce this one. I get this message only when no answers are selected

[2018-07-04 21:35] websquared commented on #68
could you retest it? it should be fixed now

[2018-07-04 21:37] #31 closed

[2018-07-04 21:48] kurumbus commented on #34
should work in quickfix

[2018-07-04 21:48] #34 closed

[2018-07-04 22:07] kurumbus commented on #24
should be working. Also now we retain query string when selecting or deselecting a category

[2018-07-04 22:07] #24 closed

[2018-07-04 22:14] #25 closed

[2018-07-04 22:16] websquared commented on #35
could you retest it?

[2018-07-05 13:37] websquared commented on #56
Will leave this as is for now

[2018-07-05 13:37] #56 closed

[2018-07-05 13:43] websquared commented on #57
Did you actually upload a video? Could you try again?

[2018-07-05 14:00] websquared commented on #60
Related to #42

[2018-07-05 14:01] websquared commented on #61
Related to #42

[2018-07-05 15:44] #18 closed

[2018-07-05 16:08] websquared commented on #62
fixed

[2018-07-05 16:11] websquared commented on #63
This is because there is a difference in database and UI field names in our application.
Will leave this as is for now. Users should be able to figure this out.

[2018-07-05 16:11] #63 closed

[2018-07-05 18:15] #20 closed

[2018-07-05 18:42] #46 closed

[2018-07-05 18:48] #61 closed

[2018-07-05 18:48] #60 closed

[2018-07-05 18:58] Alinlish commented on #68
It's working now.

[2018-07-05 18:59] #68 closed

[2018-07-05 19:07] kurumbus commented on #11
I've changed status, tried to make ui more understandable. In the future I'll try to find if we can speed up upload.

[2018-07-05 19:07] #11 closed

[2018-07-05 19:12] Alinlish commented on #62
Solved.

[2018-07-05 19:12] #62 closed

[2018-07-05 19:13] #59 closed

[2018-07-05 19:29] #58 closed

[2018-07-05 19:33] Alinlish commented on #26
I got this message each time I selected one answer for a question. Just preview a question and try to answer. I made a video to show you [Video](https://www.screencast.com/t/b1XylLKm)

[2018-07-05 19:47] Alinlish commented on #57
Yes, I uploaded a video. It's not possible to save a video field without a video file uploaded. The idea is that the same video can be saved twice when clicking on Upload and Save, and the second video does not have a preview. I just checked, this issue is still present.

[2018-07-05 19:58] Alinlish commented on #35
It's working good now.

[2018-07-05 19:59] #35 closed

[2018-07-05 20:02] Alinlish opened #70 "Instructors completed by default"
When creating a new course, the Instructors tab is completed by default [Link](https://www.screencast.com/t/F7gkkwSxisa)

[2018-07-05 20:05] Alinlish opened #71 "Error when no instructor is selected"
On a course, when no instructor is selected and clicking on Save, an error is displayed [Link](https://www.screencast.com/t/mOp19nL7IUP9)

[2018-07-05 20:19] Alinlish opened #72 "Text or article"
On a course, when adding content, the button is called "Add Text" [Link](https://www.screencast.com/t/OVw5cUxrU) and on the opened page, the title is "Article" [Link](https://www.screencast.com/t/R7V8iSjvWX)

[2018-07-05 20:28] Alinlish opened #73 "The same Save button for image and video"
When adding a course, on tab Landing Page, I propose for a better usability, to have only one Save button (the one from bottom), and with that button to save both image and video [Link](https://www.screencast.com/t/g043fQMyQe)

[2018-07-05 20:42] Alinlish opened #74 "Set feedback for a course"
After a student subscribed to a course, on that course, there is no option to set a feedback, or if the option is on course page, it's not easy to find it [Link](https://www.screencast.com/t/eS3PE1nnP)

[2018-07-05 20:58] #15 closed

[2018-07-05 21:00] websquared commented on #19
Could you take a screencast? It works fine for me.

[2018-07-05 21:17] #71 closed

[2018-07-05 21:19] websquared commented on #44
Adding to TODO

[2018-07-05 21:21] websquared commented on #70
This is by design - person who creates a course automatically becomes an instructor
Also there is no way to have 0 instructors on course - that means this tab is actually always completed.

[2018-07-05 21:21] #70 closed

[2018-07-05 22:22] kurumbus commented on #21
As a matter of fact, I'm positive this won't cause any performance problems any time soon. Even without caching it wouldn't be noticeable until we had about half a million (I think) course enrollments. And I still added caching the partial with recommendations just in case (to make it even faster). So it will hit database like once a day and even then nothing particularly heavy.

I submitted a PR

[2018-07-05 22:22] #21 closed

[2018-07-06 14:33] #14 closed

[2018-07-06 15:56] kurumbus commented on #42
@websquared it would be detected automatically, please check this out:
https://drive.google.com/file/d/1c6HY3yZwUd8Zd_-mHn41oQ1ZfafesHmR/view

[2018-07-06 15:59] kurumbus commented on #57
Should be working now (after fixing yesterday's bugs)

[2018-07-06 15:59] #57 closed

[2018-07-06 17:51] websquared commented on #42
Good. Can we just reorder fields to have upload on top?
And also remove extension from name?
Would it also convert _ or - to spaces?

[2018-07-06 18:08] kurumbus commented on #42
Ok.
Now it removes extension and then converts other .-_ to spaces

![online courses acme inc 3](https://user-images.githubusercontent.com/13556916/42393785-5101d5f2-8160-11e8-8d11-216c62b68531.png)

[2018-07-06 18:08] #42 closed

[2018-07-06 18:09] websquared commented on #42
Are you going to do a new PR?
I'm preparing production for final release now before marketing

[2018-07-06 18:09] kurumbus commented on #41
@websquared  The problem was that vimeo processes video for quite some time and even if we refresh immedietaly we won't even see black "Video is being processed message".

But since we now redirect to course page after saving, I guess it is irrelevant.

[2018-07-06 18:09] #41 closed

[2018-07-06 18:16] kurumbus opened #75 "Can we assign courses to categories which have children?"
![online courses acme inc 4](https://user-images.githubusercontent.com/13556916/42394065-7f2e6da4-8161-11e8-959f-b4b8cfc130e1.png)

This course has category_id of 19. It doesn't show that in the menu because it's "Marketing" category and it has subcategories (therefore disabled).

Now, is it a seeder problem that we want to assign courses not to any category but only to those which don't have chil

[2018-07-06 18:57] kurumbus commented on #42
@websquared I did create one

[2018-07-06 20:48] Alinlish commented on #19
I made a video to should that Settings page is opened after Landing page [Video](https://www.screencast.com/t/DFZeXzag)

[2018-07-08 09:09] Alinlish opened #76 "Register page displayed after log in"
When opening the website, then go to Log-in, completing the email "instructor@example.com" with correct password, and clicking on Login, the register page is displayed. Normally the user should be logged in application directly [Link](https://www.screencast.com/t/IEex0Raec)

[2018-07-08 13:12] kurumbus opened #77 "Nullable old price"
Now we can't set old price to null if course is not discounted and set it to 0, and check if old_price > 0

Now wouldn't it be more logical to set it to null?

[2018-07-08 14:06] Alinlish commented on #29
This issue is still present.

[2018-07-08 14:11] kurumbus opened #78 "Improve course seeder performance"
It takes 630-650 seconds

[2018-07-08 17:04] kurumbus commented on #78
Now about 130-150 secs.
I had to change realtext to just text in subtitle and description, I think this was the most expensive.
But course title is still catchphrase

[2018-07-08 17:04] #78 closed

[2018-07-08 17:04] #75 closed

[2018-07-08 17:05] #49 closed

[2018-07-08 20:13] mkatsevman opened #79 "When resizing, homepage breaks"
https://prnt.sc/k415gr

[2018-07-08 20:20] mkatsevman opened #80 "Change Profile Text"
https://prnt.sc/k417q0

[2018-07-08 20:38] mkatsevman opened #81 "Spelling Error on Course Selection Page"
https://prnt.sc/k41ebj

[2018-07-09 19:04] Alinlish opened #82 "Long text for selecting a meeting"
When logged in as instructor, at tab My students, if schedulling a meeting, at select a meeting, a very long text is displayed, which is not helpful in this case [Link](https://www.screencast.com/t/n4ezFkreN)

[2018-07-09 19:09] Alinlish opened #83 "Nothing happens when submitting invitation"
When logged in as instructor, on tab My Students, when submitting invitation for a meeting to one student, nothing happens [Link](https://www.screencast.com/t/twnWGV3TmhVB)

[2018-07-09 19:30] Alinlish opened #84 "No course can be selected"
When logged in as instructor, on tab My Students, no course can be selected at Filter by course [Link](https://www.screencast.com/t/YD2hly3ok)

[2018-07-09 21:14] kurumbus commented on #47
Changed implementation altogether

[2018-07-09 21:14] #47 closed

[2018-07-09 21:19] #81 closed

[2018-07-09 21:20] #80 closed

[2018-07-09 22:05] #64 closed

[2018-07-09 22:38] #84 closed

[2018-07-09 22:38] #83 closed

[2018-07-09 22:40] kurumbus commented on #76
@websquared I think it's related with https certificate, so it's not directly related to code itself.
(can be wrong of course)

[2018-07-10 15:42] Alinlish commented on #26
Steps to reproduce:

1. Log in as instructor (email instructor@ex...)
2. Go to My Learning from upper right side
3. Select course "test_question"
4. Select quiz from list
5. Click Start Quiz
6. Select any option and click on Answer

Actual result: one answer is accepted
Expected result: The message "Please select at least one answer you think is correct" is always displayed, no matter what answer

[2018-07-10 16:05] websquared commented on #76
@Alinlish Do you login initially on main domain or subdomain? Please indicate this in steps to reproduce. I just tried and it works fine for me - except HTTPS certificate warning - but this is expected on dev site

[2018-07-10 16:32] Alinlish opened #85 "Error page when completing date on Price page"
Steps:
1. Open website and log in with instructor account (instructor@ex...)
2. Go to Instructor tools -> Create a course
3. On price tab, complete all fields, and select a date [Link](https://www.screencast.com/t/9ktAvcWe)
4. Click on Save

Expected result: All fields on Price tab are saved
Actual result: An error page is displayed [Link](https://www.screencast.com/t/CfbTV75ZFq8a)

[2018-07-10 16:42] kurumbus commented on #85
Will take that

[2018-07-10 16:54] kurumbus commented on #72
I guess there was only one place where it was called 'text' instead of 'Article', but if you @Alinlish by chance see it somewhere, please let me know.

[2018-07-10 16:54] #72 closed

[2018-07-10 16:54] #85 closed

[2018-07-10 17:02] kurumbus commented on #66
@websquared I also think it might be a good idea. Can we do this way?

![2018-07-10](https://user-images.githubusercontent.com/13556916/42525581-30f62bfe-847c-11e8-9334-5c8dab2f7c6b.png)

[2018-07-10 17:04] kurumbus commented on #65
@websquared Can do that

[2018-07-10 17:06] kurumbus commented on #69
@websquared i also have this problem locally, but it's actually because I can't access some files (or they do not exist perhaps)
For example I have 403 on this link:
https://learnformula-cloud.s3.amazonaws.com/images/courses/sample/9.jpg

[2018-07-10 17:09] kurumbus commented on #5
I retested it and there is no bug, so I think we can close it at least for now.

[2018-07-10 17:09] #5 closed

[2018-07-10 17:32] kurumbus commented on #65
@websquared
so the way I did it is. If last activity and course completed:
![online courses acme inc 5](https://user-images.githubusercontent.com/13556916/42526955-f7017454-847f-11e8-9bc9-e2cc39d3d2a7.png)

if last activity but course not completed:
![online courses acme inc 6](https://user-images.githubusercontent.com/13556916/42526986-108f34c4-8480-11e8-93d1-447af617066f.png)

[2018-07-10 17:32] #65 closed

[2018-07-10 17:34] kurumbus commented on #73
@websquared i think i could implement a small intercept:
if user clicks green save button (submitting form), js will first save course image and only then get back to submitting form. What would you say?

[2018-07-10 17:48] kurumbus commented on #26
Finally I can reproduce it, it's present in firefox only (as I see it). Will get to fixing.

[2018-07-10 18:05] #26 closed

[2018-07-10 18:18] mkatsevman opened #86 "Error email"
Set that you don't get error in template for e-mail address entered

https://dog1.learnformula.com/accounts/leads/templates/fitness-ebook
<img width="1177" alt="screen shot 2018-07-10 at 2 17 51 pm" src="https://user-images.githubusercontent.com/40309392/42529308-1e552a84-844c-11e8-8c16-b22074240e9d.png">

[2018-07-10 18:21] mkatsevman opened #87 "Change Text"
Change Account Settings to:  "Platform Features"
<img width="1191" alt="screen shot 2018-07-10 at 2 19 58 pm" src="https://user-images.githubusercontent.com/40309392/42529440-7df349ee-844c-11e8-9cff-20b946aedf85.png">

[2018-07-10 20:20] #66 closed

[2018-07-10 20:54] #76 closed

[2018-07-10 20:57] websquared commented on #77
Based on my experience it's always better have numerical DB fields not nullable - it will create more confusion later in code if we would have both NULL and 0 values.
Nullable should be only set to "string" or "date" DB columns.

[2018-07-10 21:18] #87 closed

[2018-07-10 21:20] websquared commented on #86
@kurumbus This happens when you open a template as a manager and try to submit an email in form

[2018-07-10 21:24] websquared commented on #82
@kurumbus Not a high priority but let's just make this field searchable:
https://semantic-ui.com/modules/dropdown.html#search-selection

[2018-07-11 14:17] websquared opened #88 "Sync all account users to sendgrid"

[2018-07-11 15:29] websquared commented on #74
@Alinlish this is done - please test it and close if it works fine

[2018-07-11 15:59] websquared commented on #73
@kurumbus Yes, I like it - let's do that

[2018-07-11 16:42] websquared commented on #69
@Alinlish this should be fixed now

[2018-07-11 16:47] websquared commented on #55
@kurumbus let's hide this table if there are no events yet

[2018-07-11 16:48] websquared commented on #54
@Alinlish could you explain what's not clear? Do you have any suggestions?

[2018-07-11 16:53] websquared commented on #52
@kurumbus Landing pages are very important to start promoting this product - so I marked this as Urgent.
Let's also add all the 14 templates created by Dmitrii.

I'm also thinking to make homepage in similar way - with visual in-place editing instead of current "title" and "subtitle" fields. Can we do that?

[2018-07-11 16:57] websquared commented on #51
@kurumbus I've implemented Vue components lazy loading:
https://alexjoverm.github.io/2017/07/16/Lazy-load-in-Vue-using-Webpack-s-code-splitting/

This breaks components in multiple files and loads as needed.

However we might need to improve in future this part of app.js that always loads into main file right now:
![image](https://user-images.githubusercontent.com/1173105/42587830-e8c2cdb8-8509-11

[2018-07-11 16:58] #51 closed

[2018-07-11 16:59] websquared commented on #50
@kurumbus Don't we have it implemented already on landing pages?

[2018-07-11 17:15] websquared commented on #48
@kurumbus Yes, we should definitely do that later on

[2018-07-11 17:17] websquared commented on #45
Let's discuss this feature when we'll get to it. For now I put it into LATER milestone

[2018-07-11 17:18] websquared commented on #43
Webinars is one of the main features that we advertise, so let's make it perfect. Adding it to NOW milestone

[2018-07-11 17:21] websquared commented on #19
In this case you already had "Landing page" completed.
See my comment https://github.com/websquared/lfc/issues/19#issuecomment-401951504

[2018-07-11 17:21] #19 closed

[2018-07-11 18:56] Alinlish commented on #82
The behavior is exactly like before. Steps to reproduce:
1. Open website and log in with instructor account (instructor@ex...)
2. Click on Instructor Tools from upper right side
3. Select tab My Students
4. For one student, click on Schedule a meeting
5. Select a meeting from drop-down

Expected result: Meetings are displayed on drop-down.
Actual result: a long text is displayed on drop-down [Link

[2018-07-11 19:09] Alinlish commented on #74
@websquared Yes, this option is added, but when the course is completed at 100% and clicking on Feedback [Link](https://www.screencast.com/t/TJpaOVTcGPap), one error page is displayed [Link](https://www.screencast.com/t/wlJOA2bUGJ)

[2018-07-11 19:14] Alinlish commented on #69
Yes, it's fixed.

[2018-07-11 19:14] #69 closed

[2018-07-11 19:22] #77 closed

[2018-07-11 19:22] kurumbus commented on #77
@websquared Closing it then

[2018-07-11 19:30] Alinlish opened #89 "Error for get completion certificate"
Steps:
1. Open website and log in as student (student@ex...)
2. Go to My Learning
3. From My Courses, open a course
4. Click on one item from course
5. Complete all items
6. On last item, click on Next: Get Completion certificate [Link](https://www.screencast.com/t/tpVk3rYwPa)

Expected result: Completion certificate is displayed
Actual result: An error page is displayed [Link](https://www.screenc

[2018-07-11 19:40] kurumbus commented on #86
@websquared since it affects only templates this is how I implemented the fix
https://drive.google.com/file/d/1mgOOQ8dqYqa0lp7T5JOFqi99juHZW_88/view

[2018-07-11 19:40] #86 closed

[2018-07-11 19:50] kurumbus commented on #52
@websquared Ok, I'll get to adding templates.

About homepage. I'm certain we can. I guess you just tell me what of existing templates I could transform (they are for gathering email, but I guess I can just substitute a few blocks here and there and add course grid). We have the same header and footer for landing pages anyways.

So this would take some time, but I wouldn't even say that it's a lot

[2018-07-11 20:42] kurumbus commented on #52
- [ ] carelife
- [ ] helptech
- [ ] newcity
- [ ] thanks-10blokks

[2018-07-11 21:03] #88 closed

[2018-07-11 21:11] websquared commented on #74
should be fixed now

[2018-07-11 21:15] websquared commented on #54
@Alinlish Instructor can send meeting invitations to students of this course - it doesn't make sense to send them to other instructors.
Preview mode is actually to preview how course looks for student, usually instructor don't even need to open it.

[2018-07-11 21:15] #54 closed

[2018-07-11 21:18] websquared commented on #89
@kurumbus I thought it was fixed - but could you check that certificates are saved in Laravel storage folder, not in parent "temp" folder as it's doing now.

[2018-07-12 17:15] Alinlish commented on #74
Now when completing a feedback, a comment and clicking on Submit feedback button [Link](https://www.screencast.com/t/dMzNhVHGcwRv), an error page is displayed [Link](https://www.screencast.com/t/iEHDk4LMmW3m)

[2018-07-12 18:52] kurumbus commented on #52
@websquared
Ok,
Since we're in production now, I'll be including new template data in migrations not, in seeder, right?

[2018-07-12 19:04] kurumbus commented on #52
@websquared by the way, you say 14 templates, but i certainly don't see 14. I found 5 templates in master branch (+1 thank you), 5 more files in feature/155-template-landings branch (one of which is also thank you)

are there somewhere else?

[2018-07-12 19:06] websquared commented on #52
OK, let me check with other Dmitriy about other templates
Yes, we need to do that with migrations from now on

[2018-07-12 19:10] websquared commented on #53
@polis89 We need all the 14 templates now. Gregory told me that we don't have all of them. Could you mark that you already did and finish others?
Thanks.

[2018-07-12 19:10] websquared commented on #53
Related to #52

[2018-07-12 19:36] websquared commented on #74
fixed

[2018-07-13 21:08] Alinlish commented on #74
As a student, when I buy, complete and set feedback to a course [Link](https://www.screencast.com/t/J217uPzv) and afterwards log in as instructor, the feedback is not updated [Link](https://www.screencast.com/t/BbCYBluW)

[2018-07-13 21:37] kurumbus commented on #52
Added 7 new ones, 9 total yet

[2018-07-13 21:52] kurumbus commented on #89
@websquared it saves them to storage directory, I think the library generating certificate still needs access to the temp directory

![whoops there was an error](https://user-images.githubusercontent.com/13556916/42715505-0a7562de-8700-11e8-93e1-6297244e149d.png)

[2018-07-13 23:10] #52 closed

[2018-07-13 23:20] websquared commented on #89
Actually I found this path configured in config/pdf.php - changed "base_path" to "storage_path"

[2018-07-13 23:24] websquared commented on #89
@Alinlish please retest

[2018-07-14 08:04] Alinlish commented on #89
When performing the steps described in this issue, another error page is displayed [Link](https://www.screencast.com/t/oJH8BsANYK)

[2018-07-14 10:51] kurumbus commented on #82
@websquared Actually it's embarrassing, but it was a dropdown with more then 500 options i.e. it was displaying all the meetings in the db, not the ones user has access to, not even all meetings in account, just all.

I fixed that and made field searchable too. Although now it searches through like 3-4 fields

[2018-07-14 10:51] #82 closed

[2018-07-14 10:57] kurumbus commented on #89
@websquared perhaps I know why that could be
Could you tell me what queue driver we have at learnformula.space ?

If it's sync - the error is because the app doesn't wait an hour to delete certificate file, but deletes it right away. We could remove this deleting file altogether, but I thought those certificates take too much drive space

[2018-07-14 17:31] #73 closed

[2018-07-14 17:38] #55 closed

[2018-07-14 17:40] kurumbus commented on #50
@websquared only MailChimp yet, will turn to adding sendgrid now

[2018-07-15 07:36] kurumbus opened #90 "Create Modals on templates with no form"
+ add, csrf, hidden inputs and status like "When you have a landing page, you will be able to gather subscriber emails"

- [ ] Helptech
- [x] bookshelf
- [ ] liveweb
- [ ] topinvest
- [ ] webinare

[2018-07-15 07:51] kurumbus opened #91 "External Services integration"
I propose several improvements

![online courses acme inc 7](https://user-images.githubusercontent.com/13556916/42731761-bf9f1c14-881c-11e8-9eaf-a7eed04c7b5b.png)

- [x] Testing Connection to external service upon connecting.
- [x] Ability to delete and add new (essentially change provider from  mailchimp to sendgrid and back)

Estimated Time: 1-2 hours (if I don't get stuck on the way).

[2018-07-15 07:52] #50 closed

[2018-07-15 07:53] kurumbus commented on #43
@websquared Will turn to this now.

[2018-07-15 10:02] kurumbus opened #92 "Use pusher to monitor updating resources in webinar"
It's a bit easier than for polling, I'll train on this one in the same branch

[2018-07-15 10:17] kurumbus opened #93 "Can't change webinar date"
Error: Undefined index: streamId

[2018-07-15 10:55] #92 closed

[2018-07-15 11:09] #93 closed

[2018-07-16 18:19] kurumbus opened #94 "Custom fields for landing pages"
We add a field "custom_info" to our leads and landing_pages tables in the DB, which would store jsons.

And in the dashboard we let managers to customize forms by adding inputs.

[2018-07-16 18:20] kurumbus opened #95 "Customize landing pages"
We add a field "custom_info" to our leads and landing_pages tables in the DB, which would store jsons.

And in the dashboard we let managers to customize forms by adding inputs.

[2018-07-16 18:20] #95 closed

[2018-07-17 14:37] #90 closed

[2018-07-17 15:33] websquared commented on #89
@kurumbus Queue drive is "database" - same as on production. Assigning this to you to investigate

[2018-07-17 15:35] websquared commented on #91
Yes, we should definitely do these improvements. Thanks.

[2018-07-17 20:07] kurumbus opened #96 "Prevent poll voter fraud (very-very low priority)"
Prevent user from voting twice.
I think cookie would be enough, no reason event to change db structure.

[2018-07-17 20:09] kurumbus commented on #48
@websquared  I will at least try to make existing tests work for now, won't waste too much time.

[2018-07-18 15:17] websquared opened #97 "Fix 2 production errors"
I've installed Laravel Log Viewer, but you need to be an admin to open it.
Please create a new account on production and I'll set an admin role for you.

https://learnformula.com/log-viewer/logs/2018-07-18/error

- [x] htmlspecialchars() expects parameter 1 to be string, array given (View: /var/www/learnformula-cloud/laravel/resources/views/profile/partials/avatar.blade.php)
- [x] SQLSTATE[42S22]:

[2018-07-18 18:14] kurumbus commented on #89
@Alinlish Should finally work, please take a look

[2018-07-18 18:32] Alinlish commented on #89
It's solved.

[2018-07-18 18:32] #89 closed

[2018-07-18 23:12] websquared commented on #97
Yes, you have a user for grigory.shein@gmail.com - it's linked to kurumbus.learnformula.com account

[2018-07-18 23:13] websquared commented on #97
Strange that it says "Please register or login first" - it should say that password is incorrect

[2018-07-18 23:41] websquared opened #98 "Webinar UI v2"
Examples: https://livestorm.co/features/

[2018-07-18 23:50] websquared opened #99 "Webinar v2 self hosted live streaming"
https://aaronparecki.com/2016/11/19/15/self-hosted-facebook-live
https://docs.peer5.com/guides/setting-up-hls-live-streaming-server-using-nginx/

[2018-07-19 05:30] kurumbus opened #100 "If I register with a name without " " (only first name) system breaks"
![whoops there was an error 1](https://user-images.githubusercontent.com/13556916/42923423-09ffd9c4-8b2e-11e8-8e66-af4cc902cb8e.png)

quick one

[2018-07-19 05:45] kurumbus commented on #97
@websquared
I can login at https://kurumbus.learnformula.space/ - so it just doesn't redirect (although it does locally on my localhost).

[2018-07-19 05:46] kurumbus opened #101 "Doesn't [always?] redirect after logging in on main site if have account linked"

[2018-07-19 05:47] kurumbus commented on #97
Btw accidentally noticed first error on my own and fixed here https://github.com/websquared/lfc/issues/100

[2018-07-19 05:52] kurumbus commented on #97
@websquared  As for second: we had a column 'cron_data ' in course_users but you removed it quite a while ago, 26th of april.

I actually can't understand where those "first_date" and "second_date" go, are those created_at and updaed_at?

[2018-07-19 12:45] websquared commented on #97
Looks like an issue is here: app/Console/Commands/VerifyChargeInstalment.php

This was done by other developer but since then we modified "course_users" table and instead of "cron_data" it has separate columns like "next_run", "last_run", "run_count", "total_runs".

We would need to update this VerifyChargeInstalment file to reflect this

[2018-07-19 15:42] Alinlish commented on #43
My Comments (you already specified the refresh issue):
1. It would be good at beginning when submitting the poll, to show full grey area, without short green at beginning [Link](https://www.screencast.com/t/HfvGej5QI6)
2. When one stuedent has selected one option, the instructor can see 100% as message, but not with green on area [Link1](https://www.screencast.com/t/d8GPEryZ3) or other example [Li

[2018-07-19 15:48] websquared commented on #43
@kurumbus @Alinlish
I would actually like to change webinar page UI completely in future - see #98

[2018-07-19 18:12] #100 closed

[2018-07-19 18:34] kurumbus commented on #97
@websquared yes and few lines later in this file there is a condition
$courseToPay->payment_method == 3
I assume it is "instalment", I remember payment_method used to to be integer some time ago.

[2018-07-19 18:44] kurumbus commented on #97
@websquared  please take a look at my pull request. While we should get rid of errror, I'm completely not sure that this is how all of this supposed to work. Would you like me to get deeper? Or does this look right to you?

[2018-07-19 18:51] kurumbus commented on #43
@websquared Looks cool, right. And "questions" is a useful feature
But we can do something like that.

Should we close this one then now?

[2018-07-19 20:06] websquared commented on #97
I don't see a pull request yet

[2018-07-19 20:07] websquared commented on #43
yes, closing this one

[2018-07-19 20:07] #43 closed

[2018-07-19 20:41] websquared commented on #98
@kurumbus Let's start working on the similar UI now - because it's one of the most important platform features.

![image](https://user-images.githubusercontent.com/1173105/42968829-706c220a-8b72-11e8-8f5e-44125810b08b.png)

[2018-07-20 06:53] kurumbus commented on #98
@websquared Ok this is top priority. I'm afraid to make promises, but I'll do my best to finish by the end of the weekend (day after tomorrow).

[2018-07-22 19:48] #97 closed

[2018-07-22 19:55] kurumbus commented on #98
- [X] Full screen container
- [X] Content in tabs
- [ ] member and instruction representation in members and chat (add avatar, subtitle)
- [ ] Use echo "joining" events to monitor presence
- [ ] Add question functionality
- [ ] Necessary service buttons

[2018-07-24 19:21] kurumbus commented on #98
@Alinlish Could you take a look at the new interface and share some thoughts

[2018-07-24 23:13] kurumbus commented on #53
- [ ] Preselect in index

[2018-07-25 19:32] Alinlish commented on #98
My comments:
1. On instructor side, student is not added on members list [Link](https://www.screencast.com/t/bOy4GMBhhB9), as it is for student [Link](https://www.screencast.com/t/cZwNiH8qCqO)
2. It would be good at beginning when submitting the poll, to show full grey area, without short green at beginning [Link](https://www.screencast.com/t/oIftqdXp)
3. After voting and refreshing the page, the

[2018-07-27 16:04] kurumbus commented on #53
@Alinlish Could you please test this functionality? (Dmitriy approved)

[2018-07-27 16:10] kurumbus commented on #98
@Alinlish thank you!

[2018-07-28 10:57] Alinlish commented on #53
My comments:
1. When accessing one landing page with preview, then complete one email (or leave the field empty) and click on Get you ebook [Link](https://www.screencast.com/t/Cd4hr2Ysqc), if the user is clicking on return for few times, previous page is not displayed [Link](https://www.screencast.com/t/OiUcBwGCtW7n)
2. Cannot edit text from a button in a landing page, but it looks editable [Link]

[2018-07-28 22:07] kurumbus commented on #53
@Alinlish thank you!

[2018-07-29 13:51] websquared commented on #101
Is this still an issue for you?

[2018-07-29 13:54] websquared commented on #98
@kurumbus please let me know if you need any help with it. I would like to deploy new UI asap and continue sales and marketing.

[2018-07-29 13:54] websquared commented on #79
@polis89 any updates on this?

[2018-07-29 21:05] kurumbus commented on #101
@websquared
nah, I guess it was just that one account (kurumbus) was somehow caught between migrations or something, that's why it was giving errors. I tested it and can't reproduce, everything's OK. Will close for now

[2018-07-29 21:05] #101 closed

[2018-07-29 21:08] kurumbus commented on #98
@websquared I think that point 15  is related to folder permissions, so it requires server access.
Otherwise seems doable.

[2018-07-29 21:38] kurumbus commented on #98
- [X] 6 If adding a new poll with only one option, and then click on Save, the Save or Submit buttons are removed

- [X] 8 Message "You haven't published any polls yet" is displayed also after the instructor posted a poll

- [X] 9 Message "You haven't published any polls yet" is displayed also for student, which doesn't make any sense

[2018-07-29 21:41] kurumbus commented on #98
- [X] 10 If the option "Students can see results" is not selected Link, it's better to remove the poll from student's page, not to keep it empty
- [X] 11 After completing one poll that he cannot see, the student can add poll, which doesn't make sense (only instructor should add poll)

[2018-07-29 22:08] kurumbus commented on #98
- [X] 12 Poll is too much on the right edge, it could be good to move it a little bit on left side
- [X] 13 When sending a question on many lines as student Link, the question is sent on only one line

[2018-07-30 19:47] websquared opened #102 "Create step-by-step tutorial for manager"

[2018-07-30 19:48] websquared commented on #102
@Alinlish Please test by creating a new account (subdomain)

[2018-07-31 13:59] websquared commented on #98
@Alinlish Could you test this again? I've made some additional UI changes

[2018-07-31 17:48] Alinlish commented on #102
The step no 5. is "Enable payments" [Link](https://www.screencast.com/t/ChlkMup2oi), and when I click on "Connect with Stripe" an error page is displayed with JSON format [Link](https://www.screencast.com/t/rW3bNBNbnGf). In this case, cannot go on step 6.

[2018-07-31 18:58] Alinlish commented on #98
I tested again, the points 5, 6, 8, 9, 10, 11, 12 and 13 are solved. The points 2, 3, 4, 7 and 14 are the same. And for points 1 and 15, my comments are:
- one important issue is that the menu items of webinar are not accessible from first time. I have to click for many times in order to see details under one menu item [Video](https://www.screencast.com/t/2A96qREwyL9)
- if the student left the web

[2018-07-31 19:50] kurumbus commented on #53
@websquared I turn to fixing this one now

[2018-07-31 20:14] websquared commented on #53
@kurumbus Please note that I've made some UI changes - I hope it didn't break any of the functionality

[2018-07-31 21:01] kurumbus commented on #53
@websquared I've noticed changes, but can't see any problems yet. Hope there will be none, but if there are, I'll deal with them.

[2018-07-31 21:40] kurumbus commented on #53
- [X] 5 There are two parenthesis after "Following List" when submitting a new landing page
- [X] 4 On a page to create a new Landing page, if clicking on View template button Link, the first template is opened, not the template selected in dropdown before View template button
- [X] 11 When buying many templates, on second page at Landing pages, the option to move through pages is not at bottom, a

[2018-07-31 21:56] kurumbus commented on #53
- [X] 14 No email is sent when using the option "Send a letter"
- [X] 16 For Leads, if setting one filter Link and going on second page, the filter is removed. The same on Landing pages.

[2018-07-31 22:13] kurumbus commented on #53
- [X] 18 On Landing pages, at filters, if selecting subscribers and ascending, the arrows are moving down
- [X] 19 On Leads page, when clicking on Import Leads and leaving file field empty Link, when clicking on Save, the successful message is displayed

[2018-08-01 02:40] websquared commented on #102
Should be fixed now

[2018-08-01 20:51] Alinlish commented on #102
That part is fixed, but after completing the billing details, the user is logged out, and he is not able to log in again (message "Please register or login first" is displayed) [Link](https://www.screencast.com/t/ehuMqUk37U)

[2018-08-01 21:09] kurumbus commented on #53
@websquared Each lead has status and type integer fields. When we added this functionality, we decided to think about concrete types and statuses later. I think the time has come.

I propose the following, but you should edit it since it's mainly a business question.
statuses: new, working, converted, declined
types: imported, subscribed.

[2018-08-01 21:13] kurumbus commented on #53
- [X] 20 On Leads page, when clicking on Add Lead, leaving all fields empty (or with wrong data completed) and saving, the error message is displayed but the page is continuously loading
- [X] 21 When adding a new lead from button Add Lead, the numbers completed Link are not displayed on table

[2018-08-01 21:17] kurumbus commented on #53
- [X] 13 No email is received on inbox when subscribing to any landing page Link

[2018-08-01 21:32] kurumbus commented on #53
- [X]  10 When clicking on Add resources with Lead Page title completed, if no resource is added, after clicking on Submit, the Lead Page title becomes empty Link ( @Alinlish I guess it was hard to spot this one :-) )

[2018-08-01 21:38] kurumbus commented on #53
- [X] When creating a new landing page if adding an external resource, after clicking on Submit the link field Link is copied on the Lead Page Title Link

[2018-08-02 13:41] websquared commented on #53
@kurumbus regarding lead statuses:
We don't really want to create full Marketing Automation Software - at least for now. So we only need to capture leads and then sync to their Marketing Software - they should handle their statuses there.
However we might need some column or type "imported" as you suggested - for our cron to know which ones are already imported.

[2018-08-02 16:51] kurumbus commented on #91
@Alinlish could you test if it's working please?

You would need to register at mailchimp and sendgrid and try connecting and disconnecting using API keys they give. If you have any questions, please don't hesitate to ask.

[2018-08-02 17:10] kurumbus commented on #53
@websquared Ok.
It's not that I wanted to create something complex, it's just now "add lead" table looks like this:

![Uploading 2018-08-02 (1).png…]()

And it's really stupid to let people assign integer types. So I'll make type assigned automatically on whether lead is subscribed or imported and hide status for now, OK?

[2018-08-02 17:37] websquared commented on #53
Sure, sounds good

[2018-08-02 18:28] kurumbus commented on #53
- [X] 15 For Leads, filter can be applied on name, but the name is not completed when subscribing to any landing page Link

- Well, that's how it is, but I added ability to edit leads and thus add first name and last name

[2018-08-02 18:59] Alinlish commented on #91
I tested with 3-4 different API Keys, it's working good, with one exception: I am able to save a SendGrid API Key to MailChimp service [Link1](https://www.screencast.com/t/izQsVX6Fr) [Link2](https://www.screencast.com/t/TQOXBQm0)

[2018-08-02 19:12] websquared opened #103 "Ability to import CSV users to course"
- [x] required fields: email, name (or first name + last name)
- [x] (optional) it would be good to have a page where they can map fields from CSV to ours
- [x] during import we need to create a new Laravel job (not real time) to do the following:
- [x] create user account
- [x] enrol user to this course
- [x] generate random password for each user and send them email with information about enroll

[2018-08-02 19:15] websquared commented on #91
We might need to do some test API call to validate entered API key in future

[2018-08-02 21:01] kurumbus commented on #91
@websquared we do, I use "getLists", it's simple enough.

I the key is incorrect, service is not saved and error thrown

[2018-08-02 21:35] kurumbus commented on #53
- [X] 1 When accessing one landing page with preview, then complete one email (or leave the field empty) and click on Get you ebook Link, if the user is clicking on return for few times, previous page is not displayed
- [X] 3 If clicking on Edit button for a landing page from "Landing pages" Link, , after clicking Return back, the "Setting" page is opened, not "Landing pages"

[2018-08-02 21:40] kurumbus commented on #53
What's left:
- [ ] 2 Cannot edit text from a button in a landing page, but it looks editable Link
- [ ] 6 When creating a list, the field Copy Metadata from is always loading Link
- [ ] 7  When creating a new list, page is continuously loading Link
- [ ] 9 The message to complete lead page title remains displayed after clicking on create
- [ ] 12 No message displayed if subscribing on all landing

[2018-08-02 21:40] kurumbus commented on #103
@websquared  will start tomorrow

[2018-08-02 21:52] kurumbus commented on #91
@websquared the problem was that MailChimp sends false instead of 403 when api key is not too short but incorrect (weird, but that's how I understand their idea).  But now I added this check.

[2018-08-02 21:52] #91 closed

[2018-08-04 06:36] kurumbus commented on #103
@websquared to enroll a user you need to specify a payment_method.
I was thinking about something like "manual" or "imported" because we should not include imported users in buy_now and subscription lists when eventually we will need to create some sales statistic.

What do you think?

[2018-08-04 08:12] kurumbus opened #104 "GDPR compliance"
You are a better judge on  at what point should we need this, but the main thing I think is the ability for a user to delete their account (for reals, with deleting or anonymizing personal data, not just soft delete)

It has all kinds of implications: if an instructor deletes account at what point shall we delete a course? (especially if somebody paid for it) and other business questions. Just del

[2018-08-04 09:04] kurumbus opened #105 "User import improvements"
Very distant to do, since this might take some time and business and UI value is not that much (related to effort)

1. Now relation between CSV fields and DB fields is  one-to-one. Should implement more complex scenarios like if csv has  first_name and last_name which need to be concatenated.

[2018-08-04 12:42] kurumbus commented on #105
nah, I'm not a quitter, I'll do it right away

[2018-08-04 12:42] #105 closed

[2018-08-04 12:45] kurumbus commented on #103
Note to myself:
- [ ] Validation of required fields
- [ ] Add key to jobs
- [ ] Send report to the manager
- [ ] Better invite email

[2018-08-04 16:25] websquared commented on #103
Yes, I agree. Let’s add “manual” method

[2018-08-06 23:41] kurumbus commented on #103
Finishing up this one, testing the whole system

[2018-08-07 00:18] kurumbus commented on #103
- [ ] Better progress report

[2018-08-07 15:54] websquared commented on #103
Thanks. Will test it as well

[2018-08-07 15:55] websquared commented on #105
Thanks!

[2018-08-07 15:57] websquared commented on #104
Yes, we'll have to think about this but not for now. We not targeting Europe yet, just US and Canada.
But it's a valid point.

[2018-08-07 19:14] websquared opened #106 "Create course editing preview"

[2018-08-07 19:15] websquared opened #107 "Return to course editing page from activity if instructor"

[2018-08-07 19:15] websquared opened #108 "Course edit - open content by default (if not new)"

[2018-08-07 19:16] websquared opened #109 "Activity preview - add link to edit activity"

[2018-08-07 21:36] websquared opened #110 "Import students - show existing users"
![2018-08-07_17-30-24](https://user-images.githubusercontent.com/1173105/43803973-7042afe2-9a68-11e8-8713-90ab90c32e6d.png)

[2018-08-07 21:41] websquared opened #111 "Import users page bugs"
- [x] Display error message if no file selected (or disable button)
- [x] During import:
![2018-08-07_17-19-27](https://user-images.githubusercontent.com/1173105/43804029-abf3567c-9a68-11e8-8b15-2b59f0f9d4b8.png)
- [x] Create ability to combine first_name, last_name into our name field

[2018-08-07 22:45] websquared opened #112 "Setup GA to track events"

[2018-08-07 22:45] websquared opened #113 "Add students upload step for tutorial"

[2018-08-07 22:47] websquared opened #114 "Chat tab on webinar doesn't work anymore"
(Might be something related to my UI changes - sorry)
Please check and test other tabs as well

[2018-08-08 07:42] kurumbus commented on #111
@websquared It does combine fields already. The only limitation is it combines them in alphabetical order. I thought it's OK for now, because first_name is alpabetically before last_name and same for address_line_1 and address_line_2 and such fields with numeric prefixes.  If we let the user specify order - how to do it in the UI? I have no idea on the spot.

About the bug: so sorry, forgot to fix

[2018-08-08 08:29] kurumbus commented on #111
I'll write Alin on how to test it in #103 but these particular bugs should be fixed

[2018-08-08 14:29] websquared commented on #111
I'll remove checkboxes for steps 5 and 6 completely because they are optional

[2018-08-08 14:37] #111 closed

[2018-08-08 14:39] kurumbus commented on #114
@websquared Will fix this one today.

[2018-08-08 15:01] kurumbus commented on #114
nah, as a matter of fact seems like working

[2018-08-08 15:14] kurumbus commented on #110
again: should be working, but we'll do testing in #103

[2018-08-08 15:14] #110 closed

[2018-08-08 15:39] kurumbus commented on #114
@Alinlish Could you check if the webinar tabs are working? I checked myself, but perhaps you'll notice something.

[2018-08-08 15:42] kurumbus commented on #103
@Alinlish That's the new feature, could you test it?

In short: an instructor or manager can now import users from CSV file.
I think we should add some hints, but I'm not sure which since I've done it. Could you suggest something?

[2018-08-08 15:44] kurumbus commented on #53
@websquared returning to the remaining points of this one.

[2018-08-08 16:49] #112 closed

[2018-08-09 15:50] kurumbus commented on #53
@websquared could you please tell, can you reproduce points 2, 6 and 7? Because I can't, perhaps that's because we didn't have API key check in the past.

Otherwise, done here.

[2018-08-09 15:55] kurumbus commented on #98
- [ ] 1 On instructor side, student is not added on members list Link, as it is for student
- [ ] 2  It would be good at beginning when submitting the poll, to show full grey area, without short green at the beginning
- [ ] 3 After voting and refreshing the page, the student can vote again
- [ ] 4 After voting again, the green area is not updated for student, for example if the percentage is 50%,

[2018-08-09 20:28] #113 closed

[2018-08-09 20:55] kurumbus commented on #98
@websquared At the moment any file type can become a resource, we don't limit that (cause I don't know the reason to do so). But should I do it?

[2018-08-09 21:00] #96 closed

[2018-08-09 21:39] websquared commented on #98
I think we should limit file types - but again, it's a low priority
Let's allow only these for now: pdf, doc(x), xsl(x), ppt(x), txt and images.
Also let's limit each file to 10Mb for now.

[2018-08-09 21:44] #102 closed

[2018-08-09 21:45] websquared opened #116 "Create screenshots for marketing"

[2018-08-10 21:39] kurumbus commented on #94
- [ ] add validation during creating custom fields
- [ ] add some validation and required fields on subscribing

[2018-08-10 22:43] kurumbus commented on #98
@Alinlish could you test this one in general? (didn't limit file types yet, will do it in a day or so)

[2018-08-11 12:25] kurumbus commented on #53
@Alinlish Could you test this one also if you have the opportunity?

[2018-08-11 12:30] kurumbus opened #117 "Display lead custom info"
Now we have a single table for all leads. But now that we have custom fields, I think it makes sense to create a page for displaying page leads where all those custom fields would be included in the table.

(Otherwise, now it's just custom field column where it decodes a JSON and displays an output for each line).

est.: 1-3 hours

[2018-08-11 12:37] kurumbus commented on #94
![online courses acme inc 8](https://user-images.githubusercontent.com/13556916/43991789-7bce1448-9d7c-11e8-9bb9-b4b69600129e.png)

[2018-08-11 12:38] kurumbus commented on #94
![2018-08-11](https://user-images.githubusercontent.com/13556916/43991795-8d37f7da-9d7c-11e8-837c-d33b28bee8da.png)

[2018-08-12 14:14] Alinlish commented on #114
@kurumbus The tabs are working good, including chat feature. But I noticed small issues, presented below:
- The message that student entered is displayed in some cases from System Message [Link](https://www.screencast.com/t/xLOxPeJh0wc) and in other cases from Admin [Link](https://www.screencast.com/t/boxpdTb7Vl)
- For student on polls, the message "No active polls yet" is not closing when clickin

[2018-08-12 15:56] Alinlish commented on #103
My comments:
1. It's not clear why the links to "WebinarJam, Livestorm" are added, because they are not helpful for user (they seem complicated) [Link](https://www.screencast.com/t/v0vq30fD).
2. When trying to import students with fields email and name (email with wrong format) as in [file](https://www.screencast.com/t/uHprGp5w1Ryw), the message that the student are imported is displayed [Link](ht

[2018-08-12 16:58] kurumbus commented on #103
(For myself)

Code-related bugs:
- [ ] 2. When trying to import students with fields email and name (email with wrong format) as in file, the message that the student are imported is displayed Link, but no student is imported Link
- [ ] 4. When no fields are selected Link, the successful message is displayed. After that, if clicking on other tab (example Instructor), an error page is
- [ ] 5. An e

[2018-08-12 17:02] Alinlish commented on #98
My comments:
- For 2, the color was changed from green to dark grey. My idea was that at 0% to not have any different color at start (now there is dark grey). For example, if the percentage 0% is not displayed as text under option, the pencentage looks like 10% [Link](https://www.screencast.com/t/Os7cBIUWVcAv)
- The points 1, 3, and 4 are solved.
- The point 7 is improved, but the text is still di

[2018-08-12 18:56] Alinlish commented on #53
My comments:
- Solved: 1, 4, 5, 8, 10, 11, 14, 15, 16, 18, 20, 21,
- Not solved: 2, 3, 6, 7, 9, 12, 13, 17, 19 (the error message is wrong [Link](https://www.screencast.com/t/ABcgf2QMi4) and page is continuously loading),

[2018-08-13 20:16] #116 closed

[2018-08-13 20:33] #109 closed

[2018-08-13 21:08] #108 closed

[2018-08-13 21:59] kurumbus commented on #44
@Alinlish Could you test this one?

The deal is: you can add resources at one place:
like https://acme.learnformula.space/course-activities/5/edit

and access them at other: like landing page, another course activity.

One note: I've added some checks to prevent duplication, but if you really want to, you can get around them and wind up with several identical resources in the catalog. Don't know i

[2018-08-14 15:57] websquared opened #118 "Paginate courses on instructors/courses"

[2018-08-14 19:18] kurumbus commented on #114
- [ ] The message that student entered is displayed in some cases from System Message Link and in other cases from Admin Link

- [ ] For student on polls, the message "No active polls yet" is not closing when clicking on x Link

- [ ] On resources, the message that no file is uploaded is displayed outside of window Link

[2018-08-14 20:10] #114 closed

[2018-08-14 20:12] kurumbus opened #119 "Ability to Import Course"
Just a stub

[2018-08-14 21:36] kurumbus commented on #98
@Alinlish
- About colour: I agree with you but this is kind of a limitation of a framework. It can be fixed, but with an absolutely unjustifiable amount of spent time.
- About long options: fixed that, limited to 140 symbols. I don't really know how often this would be a problem.
- About error:  it's not really webinar related.

@websquared I've limited accepted filetypes on form, as you said, but

[2018-08-15 13:20] #98 closed

[2018-08-15 14:07] websquared opened #120 "Split landing page templates into categories"

[2018-08-15 14:10] websquared opened #121 "Change landing edit page"
Split page into tabs:
- Settings
- Email
- Menu
- Export

Add anything else if needed

[2018-08-15 14:12] websquared opened #122 "Add landing page setup to manager's tutorial"
Make it the last optional step
Mark completed if at least one landing page is fully setup or this step has been skipped

[2018-08-15 14:13] websquared opened #123 "Landing page - add settings to display it in menu and on homepage as a button"

[2018-08-15 14:45] #107 closed

[2018-08-15 15:41] #103 closed

[2018-08-15 15:54] #106 closed

[2018-08-15 19:42] websquared commented on #74
@Alinlish Average course rating is updated nightly - please test it the next day after submitting rating

[2018-08-15 22:16] kurumbus opened #124 "Change screenshot"
- [ ] Fitness Ebook
- [ ] Webvent

[2018-08-15 22:26] kurumbus commented on #94
@Alinlish That's a new feature, could you test it?

in short: a user can add custom fields to a landing page. Would be good to have your input about usage

[2018-08-15 22:47] kurumbus commented on #121
@websquared
sorry, I forgot what's "export" supposed to do? Did we discuss it?

[2018-08-15 23:52] websquared commented on #121
It's marketing automation integration - Mailchimp or Sendgrid

[2018-08-15 23:53] websquared commented on #121
Let's call them:
- Settings
- Leads email
- Site menu
- Leads export

[2018-08-16 15:03] websquared commented on #79
@polis89
Let's also organize our CSS files:

- [ ] Move any homepage related CSS from resources/assets/sass/app.scss to public/css/homepage.css file (included only on homepage). All the styles that you made for homepage are not used anywhere else.
- [ ] If you need to change or add something to Semantic UI SASS - do that in separate file resources/assets/sass/semantic-ext.scss instead of app.scss

[2018-08-19 12:50] Alinlish commented on #94
My comments:
1. The 'x' option to close the message for custom fields does not do anything [Link](https://www.screencast.com/t/gPHQYtIF0Cgg)
2. If no custom field is added, there is no line between table with custom fields table and the place to add them. For example, label "Name" is displayed above textboxes, and this can be difficult to understand [Link](https://www.screencast.com/t/3wwovyTCEvI)

[2018-08-19 16:40] Alinlish commented on #44
My comments:
1. I added few resources (both files and externals) and now the resource catalog is not displayed. Also, nothing happens when I try to use the filter by title [Link](https://www.screencast.com/t/iDPhjRE7Pl).
2. When adding a new resource as file (in this case pdf), an error message is displayed [Link](https://www.screencast.com/t/5fPJwkfakim)
3. After adding a new external resource, t

[2018-08-20 09:56] kurumbus commented on #121
Should I hide this new menu for instructor and manager? I have space for it but perhaps I have a large screen.

![screenshot 2018-08-20 12 51 46](https://user-images.githubusercontent.com/13556916/44333684-1fcd3700-a4a2-11e8-9b59-cf3376cfac8f.png)

[2018-08-20 10:10] kurumbus commented on #121
@websquared Should I hide this new menu for instructor and manager? I have space for it but perhaps I have a large screen.

and one more question: should I allow to edit color of call-to-action buttons, and if so, what colors should they choose from? would it be enough to have like 6-8 main ones? (red green blue black etc)

[2018-08-20 10:37] kurumbus commented on #123
Did it as a part of #121

@websquared I'll pass them to testing together, Ok?

[2018-08-20 10:37] #123 closed

[2018-08-20 10:48] kurumbus commented on #120
@Alinlish Could you test this one? So the deal is: the task was to separate templates into categories and allow user to filter them, that I did.

![Uploading Screenshot 2018-08-20 13.44.52.png…]()

@websquared Are you sure about categories though? Some of them are OK, but we have, for example, "lead generation", and they are all for lead-generation, I guess.
That's just for your information though

[2018-08-20 15:07] Alinlish commented on #74
@websquared It's implemented like you said, the average rating is updated over night.

[2018-08-20 15:26] websquared commented on #121
Maybe we can combine search and select category in one field like this:
![image](https://user-images.githubusercontent.com/1173105/44349824-e7ab0180-a46b-11e8-9f97-955156c54bb7.png)
https://semantic-ui.com/elements/input.html#action

[2018-08-20 15:27] websquared commented on #121
Leave menu with me for now

[2018-08-20 15:28] websquared opened #125 "Organize navigation menu"
Related to #121

[2018-08-20 15:45] Alinlish commented on #120
@kurumbus Templates are splitted in categories and the filter for categories is working good.

[2018-08-20 22:00] websquared opened #126 "Create an option for account manager to upload account logo"
- On homepage settings page

Or if they don't have a logo, specify short site name - 15 characters max that we can display in Lato  font

[2018-08-20 22:44] #125 closed

[2018-08-21 14:46] #28 closed

[2018-08-22 16:44] #120 closed

[2018-08-23 15:10] kurumbus opened #127 "N+1 query optimization"
Now we have a lot of pages with a lot of extra queries

I need to add the ability to spot them
https://github.com/beyondcode/laravel-query-detector

[2018-08-23 16:11] kurumbus commented on #127
queries number
App\Http\Controllers\CourseController@landingPage 33 -> ~20
App\Http\Controllers\InstructorController@courses 46 -> 11

[2018-08-23 16:41] kurumbus commented on #127
/profile/courses/my 33 -> 11

[2018-08-23 17:05] kurumbus commented on #127
/courses/{id}/view 44 ->25

[2018-08-24 14:28] kurumbus commented on #127
/course-activities/{id} 27 -> __ (89 ms -> __)

[2018-08-24 16:30] kurumbus opened #128 "DB optimization: foreign keys and indexes"
Foreign keys and indexes on the most loaded tables should greatly increase productivity

[2018-08-24 17:17] websquared opened #129 "Create simulated live webinars feature"
- Instructor can select "Simulated live" checkbox during webinar creation
- It will show a new field to upload video - which should be required in this case
- It **should not** create YouTube Live stream - we don't need actual webinar in this case
- On webinar page we need to hide top webinar controls bar and change instructions - see below
- For students video should start playing automatically (

[2018-08-24 17:19] websquared opened #130 "Auto start webinars/videos but muted"

[2018-08-24 18:40] websquared opened #131 "Display resource links at the end of webinar"
- If checkbox selected "Display at the end of webinar" - display a list with these links in place of video (can be multiple)
- Rename External resource tab to "Link"

![2018-08-24_14-28-10](https://user-images.githubusercontent.com/1173105/44601654-2c57d500-a7ab-11e8-96e2-44a5716e4715.png)

[2018-08-24 20:53] #79 closed

[2018-08-30 22:06] websquared opened #132 "Preview of landing page template not working"
![image](https://user-images.githubusercontent.com/1173105/44881960-67607980-ac7f-11e8-9921-b2d3f071c5d1.png)

[2018-08-31 04:04] kurumbus commented on #129
@Alinlish there is an alpha version of that, could you test it?

First and foremost - the basic thing: can you create a webinar with type "simulated" then upload a video, then view it at least as an instructor at a given time?

I have all sorts of errors, but I suspect it's because of at the moment I work from a place where everything is blocked

[2018-08-31 04:15] kurumbus opened #133 "Fix differences in casting for landing page and landing page template"
Default variables are cast as object, and landing page as an array - that's why we got errors in https://github.com/websquared/lfc/issues/132

I pushed a quickfix but will need to fix that.

[2018-09-01 20:35] Alinlish commented on #129
I am able to view the simulated webinar as instructor and as student [Link](https://www.screencast.com/t/W0jYtjZjDoKh), but I found the issues presented below:
1. When creating one webinar as "Simulated webinar", by default the button Save is disabled, only the button Upload video is enabled. When clicking on button Upload video, the webinar is saved, and in this case, the button Save is not neede

[2018-09-02 17:12] kurumbus commented on #132
Preview of template fixed locally and on learnformula.space, so closing this

[2018-09-02 17:12] #132 closed

[2018-09-02 17:14] kurumbus commented on #129
FYI @websquared : will turn to fixing stuff Alin found now.

[2018-09-02 18:29] kurumbus commented on #129
- [X] 7 It would be good to remove or update the instructions page for simulated webinares Link
- [X] Chat option not working for simulated webinars
- [X] 9 Instructor cannot add polls on simulated webinars
- [X] 10 Instructor cannot add resources on simulated webinars Link
- [X] 11 Instructor can add questions, which is not according to message Link

[2018-09-02 18:45] kurumbus commented on #129
- [X] 3. First time when opening the webinar as student, one error is displayed Link  - This is a non-issue actually. vimeo really needs time to process the video, nothing we can do.

[2018-09-03 16:03] websquared commented on #130
Webinars are done - need to work on videos now

[2018-09-03 16:41] kurumbus commented on #44
- [ ] 1. I added few resources (both files and externals) and now the resource catalog is not displayed. 1.1 Also, nothing happens when I try to use the filter by title Link.
When adding a new resource as file (in this case pdf), an error message is displayed Link
After adding a new external resource, the title is removed, but the link is kept Link

[2018-09-03 17:48] kurumbus commented on #53
- [X]  9 The message to complete lead page title remains displayed after clicking on create (found second place for this bug)
- [X] 19 On Leads page, when clicking on Import Leads and leaving file field empty Link, when clicking on Save, the successful message is displayed

[2018-09-03 18:11] kurumbus commented on #53
I couldn't reproduce some of the stuff and fixed the others. So will close this for now.

[2018-09-03 18:11] #53 closed

[2018-09-04 17:12] kurumbus commented on #44
fixed everything i could reproduce

[2018-09-04 17:12] #44 closed

[2018-09-04 17:13] #121 closed

[2018-09-04 17:17] kurumbus commented on #128
I've added indexes on the most popular queries, will continue monitoring.

[2018-09-04 17:17] #128 closed

[2018-09-04 17:29] kurumbus commented on #126
@websquared Now turning to this one

[2018-09-06 20:02] websquared opened #134 "Create public calendar page with the list of all event/webinar courses"
Requested by Melanie

[2018-09-06 20:11] #134 closed

[2018-09-06 20:26] kurumbus commented on #122
That's actually a small one, so I don't think we should send this to Alin for testing.

[2018-09-06 20:26] #122 closed

[2018-09-06 20:51] kurumbus opened #135 "Editing image from amazon cloud"
![untitled](https://user-images.githubusercontent.com/13556916/45184341-58ee0100-b22f-11e8-9ebe-2e780999aa04.png)

@websquared  Would you like me to fix that one?
I know how fix it with a bit of a hack by accessing it through our server through a url like
/api/access-image?url=http://.....etc.....
Shouldn't cause much trouble because editing course landing shouldn't have too much traffic.

Perhaps

[2018-09-06 22:12] kurumbus commented on #131
@websquared turning to this one

[2018-09-07 17:53] websquared opened #136 "Allow only specific characters an account subdomain"
allow only letters, digits and "-" (dash)

[2018-09-09 10:03] kurumbus opened #137 "Check middleware"
I guess on some pages the system doesn't redirect the users which are not logged in and throws an error.

![2018-09-09 1](https://user-images.githubusercontent.com/13556916/45263368-a4bbc880-b430-11e8-9517-63947d788bc4.png)

[2018-09-09 10:59] kurumbus commented on #127
I will keep an eye on n+1 but most student pages (where heavy traffic will be I guess) and most instructor pages are cleaned now.

[2018-09-09 10:59] #127 closed

[2018-09-09 11:00] kurumbus commented on #135
@websquared although seems like it doesn't happen each time.

[2018-09-09 11:00] kurumbus commented on #133
@websquared This is a small one, I'll try to quickly deal with it.

[2018-09-09 14:54] websquared commented on #135
OK, let's do this with your fix

[2018-09-09 14:56] websquared commented on #137
Good catch - let's fix that

[2018-09-09 15:51] kurumbus opened #138 "Suggestion: expand tutorial"
@websquared Just a suggestion: what if we expand our manager tutorial with smth like this?

https://introjs.com/

[2018-09-09 17:12] kurumbus commented on #129
- [X] 1.When creating one webinar as "Simulated webinar", by default the button Save is disabled, only the button Upload video is enabled. When clicking on button Upload video, the webinar is saved, and in this case, the button Save is not needed, because the webinar is saving directly. (fixed by websquared)
- [X] 2.  When opening one webinar saved as "Simulated webinar", the video file is no long

[2018-09-09 17:14] kurumbus commented on #129
Hey @Alinlish
4. Two webinars can be live at two different hours Link
5. Two webinars are stating at the same hour, but one is live and one is not live Link

I really tried but couldn't reproduce these ones
Could you please tell me what time and timezone you set during creating such webinars and what timezone is set in account settings.
I'll be really grateful

[2018-09-09 17:27] kurumbus commented on #131
@Alinlish Could you please test this one?
Display at the end of the webinar should work for links and files. Please ask if something is not clear.

[2018-09-09 21:51] kurumbus opened #139 "Webinar Volume control on some resolutions"
During webinars on some resolutions (e.g. 1920x1080) volume control is not seen by default without changing column proportions (or going full screen)

That might be confusing for some users

Video:
https://drive.google.com/file/d/1ItpopVgGmoncMuszeY70WQ9OTmM-rsiq/view